$family-sans-serif ?= 'Oxanium', Ubuntu, Roboto, 'Open Sans', 'Microsoft YaHei', sans-serif
$family-code ?= 'Roboto Mono', monospace, 'Microsoft YaHei'
// shadow and radius
$shadow ?= none
$radius ?= 0
$radius-small ?= 0
// base colors
$white ?= #fff
$white-bis ?= #cdcdcd
$grey ?= #848484
// #0d1118: github main背景颜色
$black ?= #0d1117
$black-bis ?= #050a0e
$orange ?= #ff8e3c
//$yellow ?= #fcee09
$yellow ?= $green
$green ?= #00ff41
$blue ?= #02d7f2
$purple ?= #9561d2
$red ?= #ff003c
// 决定Follow按钮、Archives的年份背景颜色
$primary ?= $yellow
$info ?= $blue
$success ?= $green
$warning ?= $orange
$danger ?= $red
// invert colors
$orange-invert ?= #121617
$yellow-invert ?= #121617
$green-invert ?= #121617
$blue-invert ?= #121617
$purple-invert ?= #121617
$red-invert ?= #121617
$primary-invert ?= #121617
$info-invert ?= #121617
$success-invert ?= #121617
$warning-invert ?= #121617
$danger-invert ?= #121617
// derived colors
$scheme-main ?= $black
// #57a6ff: github链接颜色
$link ?= #57a6ff
$link-hover ?= $primary
$text ?= $white-bis
// 文章标题、数量、姓名的颜色
$text-strong ?= $blue
$body-background-color ?= $scheme-main
$input-color ?= $text
$input-placeholder-color ?= rgba($input-color, .8)
$footer-color ?= $blue
// #151b22: github顶部导航背景颜色
$footer-background-color ?= #151b22
$navbar-background-color ?= #151b22
$navbar-item-color ?= $blue
$navbar-item-active-color ?= $black
$navbar-item-hover-color ?= $green
$navbar-item-hover-background-color ?= transparent
$navbar-item-margin-v ?= 1.25rem
$navbar-item-margin-h ?= .25rem
$navbar-item-padding-v ?= 0
$navbar-item-padding-h ?= .5rem
$card-background-color ?= transparent
// 小卡片标题颜色
$menu-label-color ?= $green
// 目录、Archives item的hover、active颜色配置
$menu-item-hover-color ?= $white
$menu-item-hover-background-color ?= #0194a7
$menu-item-active-color ?= $white
$menu-item-active-background-color ?= #0194a7

$menu-list-border-left ?= 1px solid $text
$tag-color ?= $black
$tag-background-color ?= $blue
$timeline-fg-line ?= $blue
$timeline-bg-line ?= $body-background-color
$post-navigation-fg ?= $white-bis
$searchbox-bg-container ?= $black-bis
$searchbox-border ?= $blue
$searchbox-bg-input ?= $black-bis
$searchbox-bg-close-hover ?= #0194a7
$searchbox-bg-close-active ?= $searchbox-bg-close-hover
$searchbox-bg-result-item-hover ?= green

@import 'style'

clip-path(clip)
  clip-path: clip
  -webkit-clip-path: clip

cut-corner(size)
  clip-path(unquote('polygon(' + size + ' 0, 100% 0, 100% calc(100% - ' + size + '), calc(100% - ' + size + ') 100%, 0 100%, 0 ' + size + ')'))

cut-corner-reverse(size)
  clip-path(unquote('polygon(0 0, calc(100% - ' + size + ') 0, 100% ' + size + ', 100% 100%, ' + size + ' 100%, 0 calc(100% - ' + size + '), 0 0)'))

cut-corner-top-right(size)
  clip-path(unquote('polygon(0 0, calc(100% - ' + size + ') 0, 100% ' + size + ', 100% 100%, 0 100%)'))

cut-corner-bottom-left(size)
  clip-path(unquote('polygon(0 0, 100% 0, 100% 100%, ' + size + ' 100%, 0 calc(100% - ' + size + '))'))

cut-corner-bottom-right(size)
  clip-path(unquote('polygon(0 0, 100% 0, 100% calc(100% - ' + size + '), calc(100% - ' + size + ') 100%, 0 100%)'))

undercover-before()
  position: relative

  &:before
    content: ''
    position: absolute
    z-index: -1
    top: 0
    left: 0
    right: 0
    bottom: 0

body
  counter-reset: card

::selection
  color: $black
  background: $blue

.card:not(#back-to-top)
  position: relative
  counter-increment: card

  &, .card-content
    undercover-before()

  &:before
    top: -1px
    left: -1px
    right: -1px
    bottom: -1px
    background-color: #146b76
    //background-color: rgba(20, 107, 118, 0.78)
    cut-corner-reverse(16px)

  //&:after
  //    content: 'R' counter(card)
  //    position: absolute
  //    color: $blue
  //    right: 2rem
  //    bottom: -.6em
  //    font-size: .75rem
  //    padding: 0 .25em
  //    background: $body-background-color

  .card-image
    cut-corner-top-right(16px)

  .card-content:before
    background-color: $body-background-color
    cut-corner-reverse(16px)

  .card-image + .card-content:before
    cut-corner-bottom-left(16px)

clip-button($color, $color-invert)
  &:before
    background-color: $blue
    color: $color-invert

  &:hover:before, &.is-hovered:before
    background-color: darken($color, 2.5%)
    color: $color-invert

  &:focus:before, &.is-focused:before
    color: $color-invert

  &:active:before, &.is-active:before
    background-color: darken($color, 5%)
    color: $color-invert

  &[disabled]:before, fieldset[disabled] &:before
    background-color: $color

  &.is-inverted
    &:before
      background-color: $color-invert
      color: $color

      &:hover:before, &.is-hovered:before
        background-color: darken($color-invert, 5%)

      &[disabled]:before, fieldset[disabled] &:before
        background-color: $color-invert
        border-color: transparent
        box-shadow: none
        color: $color

.button:not(input)
  border: none
  outline: none
  background: transparent !important
  undercover-before()

  &:before
    cut-corner(8px)

  // clip-path will cut off overflown content inside a button
  // thus we need to use :before pseudo-element to style the buttons
  for $name, $pair in $colors
    $color = $pair['1']
    $color-invert = $pair['2']

    &.is-{$name}
      clip-button($color, $color-invert)

.field.has-addons
  .control:not(:first-child)
    .button
      cut-corner-bottom-right(8px)

.menu-list a
  cut-corner(8px)

.tags.has-addons
  .tag:first-child
    background: transparent !important
    border: 0.6px solid #03d7f2
    color: $white-bis

  .tag:last-child
    background: $blue !important

.pagination-previous, .pagination-next, .pagination-link
  cut-corner(8px)

  &:hover
    background-color: $blue

    &, a
      color: $black

.navbar-main
  padding-top: 10px
  padding-bottom: 30px

  &:after
    content: ''
    position: absolute
    left: 0
    right: 0
    bottom: -2px
    background: url('../img/razor-top-black.svg') repeat-x top
    height: 40px

  .navbar-menu
    .navbar-item
      &:hover
        color: $navbar-background-color
        background-color: $yellow !important

      &.is-active
        color: $navbar-background-color
        background-color: $blue !important

article.article, article.media
  .title a
    background-image: linear-gradient(transparent calc(100% - 2px), $text-strong 2px)
    background-repeat: no-repeat
    background-size: 0 100%
    transition: background-size .25s ease-in-out

  .title:hover a
    background-size: 100% 100%

article.article
  .article-more
    clip-button($info, $info-invert)

.article-licensing
  background: $black-ter

.content
  blockquote
    background: $navbar-background-color
    //border: .5px solid $blue
    border-left: 5px solid #3a424a
    color: #8b949e
    padding: 14px

//blockquote
//    background: transparent
//    border: .5px solid $blue
//    border-left: 5px solid $blue

// 限制最多显示 2 行，超出隐藏，隐藏部分显示 ...
.media .media-content .title
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

// 鼠标滑过显示全部字数。
.media .media-content .title:hover{
  display: block;
  width: 100%;
  overflow: auto;
  white-space: normal;
}

.footer
  position: relative

  &:before
    content: ''
    position: absolute
    left: 0
    right: 0
    top: -1px
    height: 39px
    background: url('../img/razor-bottom-black.svg') repeat-x top

  & > .container
    padding-top: 40px

.timeline .media
  &:before
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%)

.searchbox .searchbox-container
  border: 1px solid $blue

  .searchbox-body
    border-bottom: 1px solid $searchbox-border

    li:last-child .searchbox-result-section
      border-bottom: none

  .searchbox-result-item
    em
      color: $black

#back-to-top
  color: $black
  background: $blue
  margin-top: 45px
  cut-corner(8px)

.cc-window, .cc-revoke
  border-radius: 0 !important

.cc-window
  &:not(.cc-banner)
    border: 1px solid $blue

  &.cc-theme-classic, &.cc-theme-block
    .cc-compliance > .cc-btn
      border-radius: 0

  &.cc-banner
    .cc-compliance > .cc-btn
      background-color: $blue

      &:hover, &:focus
        background-color: darken($blue, 2.5%)

// 修改后，发布前，需要执行 hexo clean
.mermaid {
  background: transparent;
  // 为了显示更少空白、显示更多内容
  padding: 0 !important;
  margin: 0 !important;
  // 图标居中显示
  display: flex;
  justify-content: center;

  .label { // 解决行尾文字显示不全
    font-weight: normal;
    font-size: .88rem;
  }

  .edgePath .path { // 链接的颜色
    stroke: #02d7f2 !important;
  }

  .arrowheadPath { // 链接的箭头颜色
    fill: white !important;
  }

  .edgeLabel { // 链接上文字的样式
    background-color: #0d1117 !important;
    color: white !important;
  }

  .edgeLabel rect { // 链接上的文字的上下边框
    opacity: 0.5;
    background-color: transparent !important;
    fill: transparent !important;
  }

  > svg {
    // 替换原有的最大宽度，居中显示，最终还是注释了，因为不限制高度的话，节点、链接、字体都会变大
    // max-width: none !important;

    // 解决在窄屏中图表高度很高，上下空白过高的问题，但是会窄屏上图表会整体缩小，文字基本上看不清。注释后可以看清文字。
    // https://github.com/mermaid-js/mermaid/issues/2160
    //height: auto;
  }
}

/*
仿 GitHub table 样式
*/
.content table td,
.content table th {
  //border: 1px solid #dbdbdb;
  //border-width: 0 0 1px;
  //padding: 0.5em 0.75em;
  vertical-align: top;
  padding: 6px 13px;
  border: 1px solid #30363d;
  vertical-align inherit
}

.content table tr:nth-child(2n) {
  background-color: #161b22;
}

.content table thead td, .content table thead th {
  vertical-align: top;
  padding: 6px 13px;
  border: 1px solid #30363d;
}

.content table tbody tr:last-child td, .content table tbody tr:last-child th {
  vertical-align: top;
  padding: 6px 13px;
  border: 1px solid #30363d;
}

//  去掉代码块的边框，因为 table 的边框样式会在代码块中生效。
.highlight-body table tbody tr:last-child td, .content table tbody tr:last-child th {
  border-width 0;
}